.card{
    height: 300px;
    width: 400px;
    border: 1px solid grey;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
}

.listSelect {
    height: 30px;
}

.cardContainer{
    margin-left: 50px;
    width: 85%;
    margin-top: 50px;
}

input {
    width: 400px;
}

.listForm {
    margin-left: 20%;
    position: absolute;
    top: 10px;
    left: 300px;
}