.cartObject{
    justify-content: right;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
}

.cartItem {
    font-size: larger;
    font-weight: bold;
    font-variant: small-caps;
    margin: auto;
    width: 80%;
    border-bottom: 1px solid lightgray;

}

.cartItem:hover {
    background-color: lightgray;
}

.cartItemPrice {
    text-align: center;
    justify-content: center;
    
}
.cartTable {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}

.checkoutForm {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.cartButton {
    align-content: right;
}

.cartTotal {
    text-align: right;
    font-variant: small-caps;
    margin-left: 40%;
}